<h1>Список клиентов</h1>

<ul>
<% @clients.each do |client| %>
  <li>
    <%= render client %>
    <%= render 'links_for',  :client => client %>
  </li>
<% end %>
</ul>
<br />

<%= link_to 'New Client', new_client_path %>
