<% if object.errors.any? %>
  <div id="error_explanation">

    <h2>Произошли следующие ошибки:</h2>
    <br>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>